@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

*{
	box-sizing: border-box;
}
body{
	display: flex;
	flex-direction: column;
	background-image: url(NEWYEAR.jpeg); 
	min-height: 100vh;
	background-size: cover; 
	background-position: center center;
	align-items: center;
	font-family: "poppins", sans-serif;
} 
h1{
	color: white;
	border: 1px solid white;
	border-radius: 30px;
	padding-left: 20px;
	padding-right: 20px;
	font-size: 4rem;
	font-weight: bold;
	margin-top: 90px;

}
.countdown-container{
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
}

.big-text{
	font-weight: bold;
	font-size: 6rem;
	line-height: 1 ;
	margin: 0 2rem;
	color: rgb(255, 255, 255);
	margin-left: 40px;
	margin-right: 40px;
}

.ce {
	text-align: center;
}

.ce span{
	font-size: 2rem;
	color:white;
	border: 1px solid white;
	border-radius: 50px;
	padding-left: 10px;
	padding-right: 10px;
}
